body {
  overflow-x: scroll;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.upgrade-button {
  color: white;
  background-color: transparent;
  border-radius: 50px;
  border-color: white;
  flex-direction: row;
  justify-content: flex-end;
  align-items: right;
  height: 4em;
  width: 9.5em;
  font-size: 14px;
  font-weight: 600;
}
.upgrade-button:hover {
  background-color: black;
  color: white;
}
