@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(35, 33, 33);
}

.image {
  width: 8rem;
  height: 8rem;
}

.title-button-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  color: white;
}
