@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.second-section-avatar {
  width: 13rem;
  height: 13rem;
  background-color: rgb(35, 33, 33);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.second-section-title {
  margin-left: 4rem;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: white;
}

.second-section-image {
  width: 12rem;
  height: 10rem;
  border-radius: 25px;
}
