@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.menu {
  background: black;
  height: 100vh;
  width: 240px;
  z-index: 5;
}

.menu ul {
  color: white;
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.menu ul li {
  color: white;
  padding: 0.5em 1em 0.5em 3em;
  font-size: 0.95em;
  font-weight: regular;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
}
.menu ul li.icon-home {
  background-image: url("https://cdn-icons.flaticon.com/png/512/2626/premium/2626923.png?token=exp=1653516625~hmac=0a3585e697e9e145e0acf98ac40ddb9b");
}
.menu ul li.icon-search {
  background-image: url("https://cdn-icons.flaticon.com/png/512/954/premium/954591.png?token=exp=1653516734~hmac=01d794a7b27a18b3f0037897e587f551");
}
.menu ul li.icon-library {
  background-image: url("https://cdn-icons-png.flaticon.com/512/7611/7611671.png");
}
.menu ul li.icon-playlist {
  background-image: url("https://cdn-icons.flaticon.com/png/512/4043/premium/4043804.png?token=exp=1653516863~hmac=7d27ce895198e3b2cf6a64e39a512675");
}
.menu ul li.icon-liked-songs {
  background-image: url("https://cdn-icons.flaticon.com/png/512/2589/premium/2589175.png?token=exp=1653517282~hmac=e2b7c4bf85cca8e46f44b0c2150bd938");
}
.menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu ul li:focus {
  outline: none;
}
@media screen and (max-width: 900px) and (min-width: 400px) {
  body {
    padding-left: 90px;
  }
  .menu {
    color: white;
    width: 90px;
  }
  .menu .avatar {
    padding: 0.5em;
    position: relative;
  }
  .menu .avatar img {
    width: 60px;
  }
  .menu .avatar h2 {
    color: white;
    opacity: 0;
    top: 50%;
    left: 100px;
    margin: 0;
    min-width: 200px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    transform: translate3d(-20px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu .avatar:hover h2 {
    color: white;
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
  .menu ul li {
    height: 60px;
    color: white;
    background-position: center center;
    background-size: 30px auto;
    position: relative;
  }
  .menu ul li span {
    color: white;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 4px;
    top: 50%;
    left: 80px;
    transform: translate3d(-15px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu ul li span:before {
    color: white;
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
  }
  .menu ul li:hover span {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
}
@media screen and (max-width: 400px) {
  body {
    padding-left: 0;
  }
  .menu {
    color: white;
    width: 230px;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-230px, 0, 0);
    transition: all 0.3s ease-in-out;
  }
  .menu .smartphone-menu-trigger {
    color: white;
    width: 40px;
    height: 40px;
    left: 100%;
    background: #5bc995;
  }
  .menu .smartphone-menu-trigger:before,
  .menu .smartphone-menu-trigger:after {
    content: "";
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .menu .smartphone-menu-trigger:after {
    top: 55%;
    transform: translate3d(-50%, -50%, 0);
  }
  .menu ul li {
    color: white;
    padding: 1em 1em 1em 3em;
    font-size: 1.2em;
  }
  .menu:focus {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
  }
  .menu:focus .smartphone-menu-trigger {
    pointer-events: none;
  }
}
