@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");

.avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section-title-greeting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  color: white;
}
